body {
	font-family: Lato;
    background-image: url('https://i.imgur.com/cBeTk2R.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
	font-family: Slabo;
}

 header h1 {
 	font-size: 2em;
 } 

#container {
    width: 80%;
    margin: 9em auto !important;
    background-color: #fff;
    border-radius: 10px;
    padding: 1em;
    opacity: 0.9;
}

label {
        font-weight: bold;
        font-size: 2em;
        vertical-align: middle;
}

#movieTitle h1 {
    font-size: 2.2em !important;
}

#movieYear h3 {
    font-size: 1.5em !important ;
}

#btnGetInfo {
	color: #fff;
    background-color: blue;
    border-radius: 5px;
    padding: 0.5em;
    border: 1px solid;
    cursor: pointer;
}

button {
	color: #fff;
    background-color: red;
    border-radius: 5px;
    padding: 0.5em;
    border: 1px solid;
    cursor: pointer;
}

button:hover {
	background-color: black;
}

#poster {
          float: left;
          width: 25%;
}

#movieHeader input {
	height: 20px;
    margin: 1.2em 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #000;
}
